/.vscode
/node_modules/.yarn-integrity
/node_modules/@serialport
/node_modules/active-x-obfuscator
/node_modules/ansi-regex
/node_modules/ansi-styles
/node_modules/aproba
/node_modules/are-we-there-yet
/node_modules/base64id
/node_modules/bindings
/node_modules/bl
/node_modules/browser-serialport
/node_modules/buffer-alloc
/node_modules/buffer-alloc-unsafe
/node_modules/buffer-fill
/node_modules/chalk
/node_modules/chownr
/node_modules/code-point-at
/node_modules/color-convert
/node_modules/color-name
/node_modules/commander
/node_modules/console-control-strings
/node_modules/core-util-is
/node_modules/debug
/node_modules/decompress-response
/node_modules/deep-extend
/node_modules/delegates
/node_modules/detect-libc
/node_modules/ease-component
/node_modules/end-of-stream
/node_modules/escape-string-regexp
/node_modules/expand-template
/node_modules/file-uri-to-path
/node_modules/firmata
/node_modules/firmata-io
/node_modules/fs-constants
/node_modules/gauge
/node_modules/github-from-package
/node_modules/has-flag
/node_modules/has-unicode
/node_modules/inherits
/node_modules/ini
/node_modules/is-fullwidth-code-point
/node_modules/isarray
/node_modules/johnny-five
/node_modules/lodash.clonedeep
/node_modules/lodash.debounce
/node_modules/mimic-response
/node_modules/minimist
/node_modules/mkdirp
/node_modules/ms
/node_modules/nan
/node_modules/nanotimer
/node_modules/napi-build-utils
/node_modules/node-abi
/node_modules/noop-logger
/node_modules/npmlog
/node_modules/number-is-nan
/node_modules/object-assign
/node_modules/once
/node_modules/options
/node_modules/os-homedir
/node_modules/policyfile
/node_modules/prebuild-install
/node_modules/process-nextick-args
/node_modules/pump
/node_modules/rc
/node_modules/readable-stream
/node_modules/redis
/node_modules/safe-buffer
/node_modules/semver
/node_modules/serialport
/node_modules/set-blocking
/node_modules/signal-exit
/node_modules/simple-concat
/node_modules/simple-get
/node_modules/socket.io-client
/node_modules/string_decoder
/node_modules/string-width
/node_modules/strip-ansi
/node_modules/strip-json-comments
/node_modules/supports-color
/node_modules/tar-fs
/node_modules/tar-stream
/node_modules/temporal
/node_modules/tinycolor
/node_modules/to-buffer
/node_modules/tunnel-agent
/node_modules/uglify-js
/node_modules/util-deprecate
/node_modules/which-pm-runs
/node_modules/wide-align
/node_modules/wrappy
/node_modules/ws
/node_modules/xmlhttprequest
/node_modules/xtend
/node_modules/zeparser
/yarn.lock
